<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>verify ur Account</title>
</head>
<body>
    <h1> Welcome Aboard <%- name %>
    </h1>

    <a href="<%= url %>"> click to verify</a>
</body>
</html>