:root {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    background-color: rgb(194, 194, 194);
  }
  
  .hello {
    font-weight: 700;
  }
  
  .wrapper {
    width: 100%;
    height: 100vh;
    background-color: rgb(194, 194, 194);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .holder {
    width: 500px;
    border-radius: 8px;
    height: 500px;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .head {
    width: 100%;
    height: 70px;
    border-radius: 8px 8px 0px 0px;
    background: rgb(61, 61, 61);
    color: white;
    display: flex;
    justify-items: center;
    align-items: center;
  }
  
  .logo {
    display: flex;
    justify-items: center;
    align-items: center;
    margin-left: 15px;
    font-weight: 700;
    font-size: 20px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  .main {
    margin-top: 10px;
    width: 90%;
    height: 400px;
  }
  
  .well {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  
  .click-me {
    padding: 10px 20px;
    background-color: rgb(82, 82, 82);
    font-weight: 900;
    border: none;
    border-radius: 3px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: all 350ms;
  }
  
  span {
    font-weight: bolder;
    margin-right: 5px;
  }
  
  a {
    text-decoration: none;
    font-weight: 500;
  }