@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Poppin;
  src: url(/fonts/Poppins-Regular.ttf);
}

:root{
 color: black;
}

.scroll-container::-webkit-scrollbar {
  width: 12px; 
}